@media screen and (max-width:460px) {
    .search input {
        width: inherit;
    }

}

@media screen and (max-width:360px) {

    .search input {
        font-size: 15px;
        height: 40px;



    }
}